[Unit]
Description=Bipolarbot either insults or compliments you with a 50/50 chance whenever you poke it.
After=network.target

[Service]
User=bipolarbot
WorkingDirectory=/bipolarbot/app
ExecStart=/bipolarbot/.venv/bin/python3 server.py
Restart=always

[Install]
WantedBy=multi-user.target
